page {
  // background: repeating-radial-gradient(#98efcf, transparent 1000Px);
  background: papayawhip;
  // background: #EFFEFF;
}

.page-wrapper {
  // height: 3000px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-wrapper {
  height: 60px;
  background: #fff;
}

.content-wrapper {
  font-size: 12Px;
  flex: 1;
  // overflow-y: scroll;
  // margin: 20Px;
  // padding: 10Px 20Px;
  // border-radius: 20Px;
  // box-shadow: 0 8px 12px #ebedf0;
  // background: #fff;
}

.footer-wrapper {
  height: 80px;
  // background: rgb(192, 163, 163);
  text-align: center;
}