page {
    background: url('https://636c-cloud1-2gi44ltz64d95ce2-1309250757.tcb.qcloud.la/1.png?sign=85fd00cc18b46ce67b9d59c2c7fa3777&t=1642668724');
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgb(178, 36, 255);

    .card-list-wrapper {
        height: 100vh;
        position: relative;

        .btn-wrapper {
            width: 100%;
            position: absolute;
            // bottom: 120rpx;
            top: 78%;
            text-align: center;
            padding: 0 40rpx;
            box-sizing: border-box;
        }

    }
}