page {
  background: rgb(245, 245, 245);
  overflow-x: hidden;
  height: 100vh;

  .custom-nav-bar {
    // background: rgb(238, 241, 233);
    height: 220rpx;
    // position: relative;
    background: linear-gradient(rgb(58, 219, 185), rgb(245, 245, 245));
    // background: linear-gradient(107.16deg, #61D2C4 -9.45%, #29D890 85.23%);

    .van-nav-bar__title {
      color: white !important;
      font-size: 36rpx;
    }

    .van-nav-bar__content::before {
      content: "";
      width: 220rpx;
      height: 220rpx;
      position: absolute;
      top: -86rpx;
      left: 0;
      border-bottom-right-radius: 140rpx;
      background-color: #fff;
      opacity: 0.2;
    }

    .van-nav-bar__content::after {
      content: "";
      width: 220rpx;
      height: 220rpx;
      position: absolute;
      top: 20rpx;
      z-index: 10;
      right: -40rpx;
      border-top-left-radius: 140rpx;
      background-color: #fff;
      opacity: .2;
    }

  }

  .index-wrapper {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .content-relative {
      position: relative;
      width: 100%;
      flex: 1;
    }

    .content-wrapper {
      position: absolute;
      top: -120rpx;
      z-index: 1;
      width: 100%;
      padding-bottom: 50rpx;

      .daily-sentence-card {
        position: relative;
        width: calc(100% - 60rpx);
        height: 340rpx;
        margin: 0 30rpx;
        border-radius: 10rpx;
        box-shadow: #dedede;

        .tag {
          position: absolute;
          top: 20rpx;
          left: 32rpx;
          padding: 14rpx;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          color: #fff;
          font-size: 24rpx;
        }

        .bottom {
          padding: 6rpx 20rpx 12rpx;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 1;
          background: rgba(255,255,255,1);
          box-sizing: border-box;
          border-bottom-left-radius: 10rpx;
          border-bottom-right-radius: 10rpx;
        }

        .title {
          width: 100%;
          box-sizing: border-box;
        }

        .note {
          display: block;
          font-size: small;
          color: #666;
        }

        .custom-image {
          border-radius: 10rpx;
          overflow: hidden;
          border-bottom-left-radius: 10rpx;
          border-bottom-right-radius: 10rpx;
        }
      }

      .hot-wrapper {
        margin: 0 30rpx;

        .hot-title {
          position: relative;
          margin-top: 12rpx;
          display: block;
          padding: 12rpx 0;
          font-weight: bold;

          // &::after {
          //   content: "";
          //   position: absolute;
          //   bottom: 10rpx;
          //   left: 0;
          //   width: 116rpx;
          //   height: 12rpx;
          //   background: var(--primary-color);
          //   z-index: -1;
          //   border-radius: 4rpx;
          // }
        }
        .article-wrapper {
          background: #fff;
          border-radius: 8rpx;
        }

        .card-wrapper {
          background: #fff;
          padding: 0 20rpx;
          border-radius: 8rpx;
        }

        .article-item {
          padding: 20rpx 0;
          border-bottom: 1rpx solid #f3f3f3;
        }

        .card-item {
          margin: 18rpx 0;
          padding: 20rpx 0;
          display: flex;
          cursor: pointer;
          border-bottom: 1rpx solid #f3f3f3;

          .left-box {
            margin-right: 14rpx;
          }

          .title,
          .detail {
            display: block;
          }

          .title {
            font-weight: bold;
          }

          .detail {
            font-size: 26rpx;
          }
        }
      }
    }
  }

}