page {
    --primary-color: #4DC591;
    --custom-font-size-xs: 20rpx;
    --custom-font-size-sm: 24rpx;
    --custom-font-size-md: 28rpx;
    --custom-font-size-lg: 32rpx;

    // padding
    --custom-padding-base: 8rpx;
    --custom-padding-xs: calc(var(--custom-padding-base) * 2);
    --custom-padding-sm: calc(var(--custom-padding-base) * 3);
    --custom-padding-md: calc(var(--custom-padding-base) * 4);
    --custom-padding-lg: calc(var(--custom-padding-base) * 6);
    --custom-padding-xl: calc(var(--custom-padding-base) * 8);
}